.loadGameBackground {
   -fx-background-image : url("backgrounds/Background7.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size:100.0% 100.0%; 
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
   }
.transparentBackground{
	 -fx-background-color:   linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(0.0,0.0,0.0,0.6) 0.0, rgb(51.0,102.0,51.0,0.6) 100.0)
	 }

.popupBackground{
	-fx-background-color:  linear-gradient( from 0.0% 0.0% to 100.0% 100.0%, rgb(51.0,77.0,179.0) 0.0, rgb(128.0,153.0,255.0) 100.0);
	-fx-background-size: 100.0% 100.0%;
	 
}
   
.mainMenuBackground{
   -fx-background-image : url("backgrounds/Background2.jpg");
     -fx-background-repeat: stretch;  
    -fx-background-size:100.0% 100.0%; 
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
 }
 .extra{
 	 -fx-background-color:   rgb(179.0,26.0,26.0,0.4);
 }
.chooseTeamBackground{
	-fx-background-image: url("backgrounds/Background1.jpg");
	-fx-background-repeat: stretch;  
    -fx-background-size:100.0% 100.0%; 
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
} 
.newGameBackGround{
	-fx-background-image: url("backgrounds/Background3.jpg");
	-fx-background-repeat: stretch;  
    -fx-background-size:100.0% 100.0%; 
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
}
.helpBackGround{
	-fx-background-image: url("backgrounds/Background5.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 100.0% 100.0%;
}
