 .Buttons {
   -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-background-color:  radial-gradient( focus-angle 0.0deg, focus-distance 0.0%, center 50.0% 50.0%, radius 100.0%, rgb(0.0,26.0,128.0) 0.0, rgb(0.0,0.0,0.0) 100.0 );
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
   }
 
 .Buttons:hover{
 	 -fx-background-color: blue;
 }