.newGameNavigator{
	-fx-background-image: url("http://p1.pichost.me/i/56/1792402.jpg");
	-fx-background-repeat: stretch;  
    -fx-background-size:100.0% 100.0%; 
	-fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
}
.Buttons{
	-fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.Buttons:hover{
	-fx-background-color: blue ;
}